<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <div id="header" class="d-flex flex-row-reverse bd-highlight">
            <form action="/posts/search" method="GET" class="form-inline p-2 bd-highlight" role="search">
                <input type="text" name="keyword" class="form-control" id="search" placeholder="검색">
                <button class="btn btn-success bi bi-search"></button>
            </form>
        </div>
    <h3 style="text-align:center">yhpj</h3>
    <div style="text-align:right">
            {{#userName}}
                <span id="user">{{userName}}님 로그인 상태   </span>
                <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active"
                   role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active"
                   role="button">Naver Login</a>
                <a href="/auth/login" role="button" class="btn btn-outline-dark
                 bi bi-lock-fill"> 로그인</a>
                <a href="/auth/join" role="button" class="btn btn-outline-dark
                 bi bi-person-circle"> 회원가입</a>
            {{/userName}}
    </div>
    <br>
</head>
<body>
