{{>layout/header}}
<div class="col-md-12">
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td><a href="/posts/read/{{id}}">{{id}}</a></td>
                <td><a href="/posts/read/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
                <td>{{view}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    {{! Page }}
    {{! Page }}
    <div class="pagination justify-content-center">
        {{#hasPrev}}
            <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
        {{/hasPrev}}
        {{^hasPrev}}
            <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
        {{/hasPrev}}
        {{#hasNext}}
            <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
        {{/hasNext}}
        {{^hasNext}}
            <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
        {{/hasNext}}
    </div>

    <div style="text-align:right">
        <a href="/posts/write" role="button" class="btn btn-primary">글 등록</a>
    </div>
</div>
{{>layout/footer}}